# 默认忽略的文件
/shelf/
/workspace.xml
# 数据源本地存储已忽略文件
/../../../../../../../:\gitrepository\se2\hw01\d112d58235324e6db989fa8a10e835e6\246-kwic-ms-index\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
